h1 {
    margin-bottom: 1.5rem;
}
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}
h1.page_title {
    margin: 0 0 2rem;
    padding: 0 0 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 200;
    border-bottom: 0.0625rem solid #ccc;
}

img {
    width: auto;
    max-width: 100%;
}

.list-styled {
    font-size: 0.875rem;
    line-height: 1rem;
}

.list-styled li {
    padding: 0;
    position: relative;
}

.list-styled li::before {
    display: none;
}

.list-styled .current_page {
    background-color: #efefef;
    border-left: 0.1875rem solid #ff4b00;
    text-indent: -0.1875rem;
}

.list-styled a {
    display: block;
    font-weight: 400;
    font-size: inherit;
    padding: 0.5rem 0.5rem 0.5rem 1.75rem;
}

.list-styled span {
    color: var(--text-color-dark);
    cursor: pointer;
    display: block;
    font-weight: 400;
    font-size: inherit;
    padding: 0.5rem 0.5rem 0.5rem 1.75rem;
}

.list-styled a:hover {
    text-decoration: underline;
}

.list-styled li i {
    position: absolute;
    top: 0.75rem;
    left: 0.5rem;
    transition: transform 0.3s;
    font-size: 0.625rem;
    font-weight: bold;
}

.list-styled li.active > i {
    transform: rotate(90deg);
}

.list-styled .section ul {
    padding-left: 0.75rem;
}

.list-styled > li {
    border-top: 0.0625rem solid #ccc;
}

.list-styled li ul li {
    display: none;
}

.list-styled li.active > ul > li {
    display: block;
}

.spaces .space_link {
    height: 100%;
}

.navbar .navbar-brand {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbar .navbar-brand img {
    margin-bottom: 0;
    height: 2.875rem;
}
.hero-section {
    padding-bottom: 5rem;
}

.notices {
    background-color: #f5f5f5;
    border-left: 0.25rem solid #004366;
    padding: 0.75rem;
    margin: 1.5rem;
}
.notices.note {
    border-color: #ffcf00;
}
.notices.tip {
    border-color: #33b9e6;
    background-color: rgba(255, 207, 0, 0.1);
    padding: 1rem;
}
.notices.warning {
    border-color: #ff4b00;
    background-color: rgba(255, 0, 0, 0.1);
}
.notices.Important,
.notices.Important {
    border-color: #ff4b00;
}
.notices p {
    font-size: 0.875rem;
    margin: 0;
}
.notices p + p {
    margin-top: 1.5rem;
}
.notices.tip p {
    font-size: 1.125rem;
}

.children a {
    box-shadow: 0.0625rem 0.0625rem 0.125rem 0.0625rem rgba(82, 90, 99, 0.3);
    background-color: #f4f4f4;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    color: #525a63;
    margin: 0.5rem;
    transform: translateY(0);
    transition: all 0.1s ease-in-out;
}
.children a:hover {
    box-shadow: 0.0625rem 0.25rem 0.4rem 0 rgba(82, 90, 99, 0.7);
    transform: translate(-0.0625rem, -0.0625rem);
}
@media (min-width: 1024px) {
    .children {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
    }
    .flex-row li {
        flex: 1 1 auto;
        margin: 0.5rem;
        width: 20rem;
    }
}

.section.bg-dark {
    padding: 2rem 0;
}

.space_bar {
    display: flex;
    justify-content: flex-start;
}
.space_bar > a {
    flex: 0 0 auto;
}

.left_navigation h4 {
    margin-top: 1.2rem;
}
.left_navigation h4 a {
    color: inherit;
}

@media (max-width: 991px) {
    .reverse_on_sm_and_below {
        flex-direction: column-reverse;
    }
}

.edit-link {
    position: absolute;
    top: 50px;
    right: 66px;
}

.edit-link .icon {
    font-size: 28px;
}
.doc_content table {
    font-size: 0.875rem;
}
.doc_content table tbody tr {
    border-top: 0.0625rem solid #e4e4e4;
}
.doc_content table th {
    white-space: nowrap;
}
.doc_content table td {
    padding: 0.5rem;
    vertical-align: middle;
}
.doc_content table td:first-child {
    white-space: nowrap;
}
.doc_content table td:first-child + td {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-size: 87.5%;
}
.doc_content table td:last-child {
    text-align: right;
}
