html,
body {
    font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #666;
    line-height: 1em;
    font-weight: 300;
}
header {
    background-color: #525a63;
    height: 3rem;
    padding: 0 0.75rem;
    margin-bottom: 0;
}
header .logo{
 line-height: 1.15;
}
header p {
    margin: 0;
}
header svg {
    height: 1.75rem;
}
header:after {
    background: none;
    height: 0;
}
header a {
    font-size: 1rem;
}
@media (min-width: 768px) {
    header .logo {
        text-transform: uppercase;
        letter-spacing: 0.125rem;
    }
}
article > aside {
    padding-top: 0;
}
article > aside .menu {
    margin-top: 0;
}
.shortcuts img {
    width: 1.25rem;
    vertical-align: middle;
    margin-right: 0.75rem;
}

@media (max-width: 768px) {
    header > nav.shortcuts > li > a {
        padding: 0;
    }
}
.flex-row .link-item {
    box-shadow: 0.0625rem 0.0625rem 0.125rem 0.0625rem rgba(82, 90, 99, 0.3);
    background-color: #f4f4f4;
    display: block;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    padding: 2rem;
    color: #525a63;
    margin: 1rem 0;
    transform: translateY(0);
    transition: all 0.1s ease-in-out;
}
.flex-row a.link-item:hover {
    box-shadow: 0.0625rem 0.25rem 0.4rem 0 rgba(82, 90, 99, 0.7);
    transform: translate(-0.125rem, -0.125rem);
}
@media (min-width: 1024px) {
    .flex-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }
    .flex-row.wrap {
        flex-wrap: wrap;
    }
    .flex-row .video-item {
        display: block;
        flex: 1 1 auto;
        margin: 1rem;
        width: 33%;
        max-width: 50%;
    }
    .flex-row .link-item {
        flex: 1 1 auto;
        margin: 1rem;
        width: 20rem;
    }
}

.flex-row .video-item h3 {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 1rem;
}
.video-container {
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
}
.video-container embed,
.video-container iframe,
.video-container object {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
