[submodule "Source/Hugo/themes/docdock"]
	path = Source/Hugo/themes/docdock
	url = https://github.com/dolittle/hugo-theme-docdock.git
[submodule "Source/Hugo/themes/dot"]
	path = Source/Hugo/themes/dot
	url = https://github.com/Gethugothemes/dot-hugo-documentation-theme.git
