/*

Add styles here.

*/

// for using `monospace` in headings
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
    color: inherit;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.1em 0.15em;
}

// for giving some space for the subtitle on pages
div.td-content > .lead {
    margin-bottom: 0.75em;
}

.tab-pane.active {
    animation: fade-in 0.5s ease-out;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*
.tab-pane {
  transition: all 0.2s;
  transform: translateY(1rem);
}

.tab-pane.active.show {
  transform: translateY(0rem);
}
*/

// change front page button colors
.btn-secondary {
  color: white;
  background-color: $tertiary;
  border-color: $tertiary;
}

.btn-secondary:hover {
  color: #222;
  background-color: white;
  border-color: white;
}

// for changin the navbar when we scroll the frontpage
.flip-nav .td-navbar-cover {
  background: $white !important;
  box-shadow: 0px 3px 3px rgba($primary, 0.5);
}

.td-navbar {
  // annoying shadow on cover page
  .nav-link {
    text-shadow: none;
  }

  .navbar-logo {
    svg {
      display: inline-block;
      height: 50px;
      width: auto;
      margin-right: 10px;
    }
  }

  .td-search-input {
    border: none;
    background: rgba(black, 0.1);
    color: white;
  }
}

.td-navbar-cover {
  .td-search-input {
    color: black;

    @include placeholder {
        color:  #9B9595 !important;
    }
  }
}

// scales diagrams more nicely
.td-content img {
  max-width: 100%;
  height: auto;
}

// fix sccs for that one blue box on front page
.td-box--pentiary {
  background: $pentiary;
  color: white;
  a {
    color: rgba(#53d3fd, 1);
  }
  a:hover {
    color: rgba(#53d3fd, 0.5);
  }
}
