/*

Add styles or override variables from the theme here.

*/

$primary: #ff4b00;
$secondary: #f4f4f4;

// define alert box color
$info: #525a63;

$textColor: #525a63;
$textColorDar: #333;
$whiteColor: #ffffff;

$enable-gradients: false;
$enable-rounded: true;
$enable-shadows: true;
