<section>
    <h2>Hot links</h2>
    <div class="flex-row">
        <article class="link-item">
            <h3>Getting started</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <article class="link-item">
            <h3>Getting started</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <article class="link-item">
            <h3>Getting started</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </article>
    </div>
</section>