<section>
    <h3>Essentials</h3>
    <div class="flex-row wrap">
        <a class="link-item" href="{{relref . "event_sourcing"}}">Event Sourcing</a>
        <a class="link-item" href="{{relref . "domain_events"}}">Events</a>
        <a class="link-item" href="{{relref . "artifacts"}}">Artifacts</a>
        <a href="{{relref . "read_model"}}" class="link-item">Read Models</a>
        <a href="{{relref . "query"}}" class="link-item">Queries</a>
        <a href="{{relref . "bounded_context"}}" class="link-item">Bounded Contexts</a>
        <a href="{{relref . "about_commands"}}" class="link-item">Commands</a>
        <a href="{{relref . "quickstart"}}" class="link-item">Quickstart</a>
    </div>
</section>
