<section>
    <h3>Essentials</h3>
    <div class="flex-row wrap">
        <a class="link-item" href="/overview/articles/events/event_sourcing/">Event Sourcing</a>
        <a class="link-item" href="/overview/articles/events/domain_events/">Events</a>
        <a class="link-item" href="/overview/articles/artifacts/">Artifacts</a>
        <a href="/overview/read/read_model/" class="link-item">Read Models</a>
        <a href="/overview/read/query/" class="link-item">Queries</a>
        <a href="/overview/articles/domain_driven_design/bounded_context/" class="link-item">Bounded Contexts</a>
        <a href="/overview/articles/command/introduction/" class="link-item">Commands</a>
        <a href="#" class="link-item">Quickstart <small>(Not available yet)</small></a>
    </div>
</section>