<section>
    <h2>Video tutorials</h2>
    <div class="flex-row">
        <article class="video-item">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/QIrV9t7XAZY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                    allowfullscreen></iframe>
            </div>
            <h3>Getting started</h3>
        </article>
        <article class="video-item">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/QIrV9t7XAZY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                    allowfullscreen></iframe>
            </div>
            <h3>How to use the CLI</h3>
        </article>
        <article class="video-item">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/QIrV9t7XAZY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                    allowfullscreen></iframe>
            </div>
            <h3>Deployment</h3>
        </article>
    </div>
</section>