.list-styled {
}

.list-styled li {
    padding: 0;
}
.list-styled .section {
    border-top: 1px dotted #666;
}
.list-styled .section .section {
    border-top: 0;
    margin-left: 10px;
}

.list-styled .sections .pages {
    margin-left: 20px;
}
.list-styled li::before {
    display: none;
}
.list-styled .section::before {
}
.list-styled .psge::before {
}
.list-styled a {
    font-weight: 400;
    font-size: 1rem;
}
