{{ partial "head.html" . }}
{{- $rootSpace := .Site.GetPage .Section -}}
{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
  <div class="container">
    {{ partial "navigation.html" . }}
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

<!-- page title -->
<section class="section bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                {{ with.Site.Params.banner.title }}
                <h1 class="text-white mb-4">{{ . }}</h1>
                {{ end }} 
                {{ with.Site.Params.banner.placeholder }} <input id="search" class="form-control" placeholder="{{ . }}" /> {{ end }}
                <!-- Javascript -->
                {{ partial "global_search_script.html" . }}
            </div>
        </div>
    </div>
</section>
<!-- /page title -->
<!-- details page -->
<section class="single pt-5 bg-gray">
  <div class="container">
    <div class="row reverse_on_sm_and_below">
      <div class="col-lg-3">
        <div class="p-4 bg-white sticky-top">
          {{- partial "list_navigation.html" (dict "root" $rootSpace "CurrentURL" .URL) -}}
        </div>
      </div>
      <div class="col-lg-9">
        <div class="p-5 bg-white doc_content">
          {{- partial "edit_on_github.html" (dict "ctx" $rootSpace "CurrentURL" .URL "CurrentPage" .) -}}    
          <h1 class="page_title">{{ .Title }}</h1>
            {{ .Content }}
            {{- if ne (string .PublishDate) "0001-01-01 00:00:00 +0000 UTC" -}}
            <p class="post-meta border-bottom pb-3 mb-0">Updated on {{ .PublishDate }}</p>
            {{- end -}}
            {{- $currentNode := . -}}            
            <nav class="pagination mt-3">
            {{- template "pagination" dict "menu" .Site.Home "currentnode" $currentNode "menu_exclusion" .Site.Params.menu_exclusion -}}
            {{- with ($.Scratch.Get "prevPage") -}}
            <a class="nav nav-prev" href="{{ .URL }}" title="{{ .Title }}"><i class="ti-arrow-left mr-2"></i>{{ .Title }}</a>
            {{ end -}}
            {{- with ($.Scratch.Get "nextPage") -}}
            <a class="nav nav-next" href="{{ .URL }}" title="{{ .Title }}">{{ .Title }}<i class="ti-arrow-right ml-2"></i></a>
            {{- end }}
            </nav>
    
            {{- define "pagination" -}}
            {{- $currentNode := .currentnode -}}
            {{- $menu_exclusion := .menu_exclusion -}}
    
            {{- if hasPrefix $currentNode.URL .menu.URL -}}
              {{- $currentNode.Scratch.Set "NextPageOK" "OK" -}}
              {{- if .menu.IsHome -}}
                {{- $currentNode.Scratch.Set "prevPage" "" -}}
              {{- else -}}
                {{- $currentNode.Scratch.Set "prevPage" ($currentNode.Scratch.Get "prevPageTmp") -}}
              {{- end -}}
            {{- else -}}
              {{- if eq ($currentNode.Scratch.Get "NextPageOK") "OK" -}}
                {{- $currentNode.Scratch.Set "NextPageOK" nil -}}
                {{ if in $menu_exclusion .menu.Section }}
                {{- else -}}
                  {{- $currentNode.Scratch.Set "nextPage" .menu -}}
                {{- end -}}
              {{- end -}}
            {{- end -}}
    
            {{- $currentNode.Scratch.Set "prevPageTmp" .menu -}}
            {{- $currentNode.Scratch.Set "pages" .menu.Pages -}}
            {{- if .menu.IsHome -}}
              {{- $currentNode.Scratch.Set "pages" .menu.Sections -}}
            {{- else if .menu.Sections -}}
              {{- $currentNode.Scratch.Set "pages" (.menu.Pages | union .menu.Sections) -}}
            {{- end -}}
            {{- $pages := ($currentNode.Scratch.Get "pages") -}}
            {{- range $pages.ByWeight -}}
              {{- template "pagination" dict "menu" . "currentnode" $currentNode "menu_exclusion" $menu_exclusion -}}
            {{- end -}}
            {{- end -}}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /details page -->

{{ partial "footer.html" . }}