{{ partial "head.html" . }}
{{- $rootSpace := .Site.GetPage .Section -}}
{{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
    <div class="container">
        {{ partial "navigation.html" . }}
    </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

<!-- page title -->
<section class="section bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                {{ with.Site.Params.banner.title }}
                <h1 class="text-white mb-4">{{ . }}</h1>
                {{ end }} {{ with.Site.Params.banner.placeholder }} <input id="search" class="form-control" placeholder="{{ . }}" /> {{ end }}
                <!-- Javascript -->
                {{ partial "global_search_script.html" . }}
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- details page -->
<section class="single pt-5 bg-gray">
    <div class="container">
        <div class="row reverse_on_sm_and_below">
            <div class="col-lg-3">
                <div class="mb-5 bg-white p-4 sticky-top">
                    {{- partial "list_navigation.html" (dict "root" $rootSpace "CurrentURL" .URL) -}}
                </div>
            </div>
            <div class="col-lg-9">
                <div class="p-5 bg-white doc_content">
                    {{- if .Content -}}
                        {{- partial "edit_on_github.html" (dict "ctx" $rootSpace "CurrentURL" .URL "CurrentPage" .Page) -}}    
                    {{- end -}}
                    <h1 class="page_title">{{ .Title }}</h1>
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /details page -->

{{ partial "footer.html" . }}
