<!-- JavaScript -->
<!-- 
This file overrides the default search of the dot theme.
Also gets imported in the head.html for more optimal performance.
-->
<script>
  $(function() {
    const projects = [
      {{ range $.Site.Pages }}
        {
          value: "{{ .Title }}",
          label: "{{ .Plain }}",
          url:"{{ .Permalink }}",
          description: "{{ .Description }}",
          keywords: "{{ .Keywords }}"
        },
      {{ end }}
    ];
    $( "#search" ).autocomplete({
        minLength: 3,
        // overrides the default search with our own
        source: (request, response) => {
            // the user input is in the term property. also remove special chars so that regex doesn't cry
            const sanitizedInput = request.term.replace(/[^\w\s]/gi, '');
            if (!sanitizedInput) {
              return response();
            }
            const substrRegex = new RegExp(sanitizedInput, 'i');
            return response(
              projects.filter(page => {
                // filter out contentless pages like _index.md's
                if (page.label) {
                  // match with either the pages title or keywords.
                  // Note that the keywords include "[]" at the start and end of them
                  return substrRegex.test(page.value) || substrRegex.test(page.keywords);
                }
            }));
        },
        select: function(event, ui) {
          // takes you to the url when you select it, also works with enter
          window.location.href = ui.item.url;
        },
    })
    .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li>" )
      .append(`<a href="${item.url}">${item.value}</a>`)
      .append(`<a href="${item.url}" style="font-size: 80%">${item.description}</a>`)
      .appendTo( ul );
    };
  });
</script>