node_modules
content
public
repositories
resources

!content/_index.md
!content/_footer.md
!content/_header.md

!content/API/_index.md
!content/Application/_index.md
!content/Domain_Logic/_index.md
!content/Frontend/_index.md
!content/Getting_started/_index.md
!content/Tools/_index.md