{{- $currentURL := .CurrentURL -}}
{{- $currentContext := .ctx -}}
{{- $currentScratch := cond (isset . "CurrentScratch") .CurrentScratch newScratch -}}
{{- $currentPage := .CurrentPage -}}

{{- $pages :=  (union $currentContext.Pages $currentContext.Sections) -}}
{{- $isCurrentPage := eq (string $currentURL) $currentContext.URL -}}
{{- $isSection := eq $currentContext.Kind "section" -}}
{{- $isSectionWithChildren := and (eq $currentContext.Kind "section") (gt (len $pages ) 0) }}

{{- $pageSlug := $currentContext.File -}}
{{- if $isSection -}}
{{- $pageSlug = cond (gt (len $currentContext.Dir) 0) $currentContext.Dir .Page.Title -}}
{{- end -}}

{{- $isActivePath := in (string $currentURL) (lower $pageSlug) -}}

{{- if $isActivePath -}}
    {{- if isset $currentContext.Params "repository" -}}
        {{- $currentScratch.Set "repo" ($currentContext.Param "repository") -}}
        {{- $currentScratch.Set "repoRoot" (path.Dir $currentContext.File.Path) -}}
        <br>Repository: {{ printf "%#v" ($currentScratch.Get "repo") }}    
        <br>RepositoryPath: {{ printf "%#v" ($currentScratch.Get "repoRoot") }}    
    {{- end -}}
    
    <!-- {{- if $isCurrentPage -}}
        {{- $currentScratch.Set "currentFilePath" $currentContext.File.Path -}}
    {{- end -}} -->



<br>---------------
{{- $currentFilePath := $currentPage.File.Path -}}
<br>File: {{ $currentFilePath }}
<br>---------------
{{- $repositoryUrl := ($currentScratch.Get "repo") -}}
<br>Repo: {{ $repositoryUrl }}
<br>---------------
{{- $repositoryRootFilePath := ($currentScratch.Get "repoRoot") -}}
<br>RepoRoot: {{ $repositoryRootFilePath }}
<br>---------------
{{- $relativePath := (strings.TrimPrefix $repositoryRootFilePath $currentFilePath) -}}
<br>Relative Path: {{ $relativePath }}
<br>---------------

{{- $editLink := printf "%s/edit/master/Documentation%s" $repositoryUrl $relativePath }}
<br>Github Path: {{ $editLink }}
<br><a href="{{ $editLink }}">Edit on Github</a>

<br>---------------
    {{- if $isSectionWithChildren -}}
        {{- range $pages.ByWeight -}}
            {{- partial "edit_on_github.html" (dict "ctx" . "CurrentURL" $currentURL "CurrentScratch" $currentScratch "CurrentPage" $currentPage) -}}    
        {{- end -}}
    {{- end -}}
{{- end -}}

