{{- $currentURL := .CurrentURL -}}
{{- $currentContext := .ctx -}}
{{- $currentScratch := cond (isset . "CurrentScratch") .CurrentScratch newScratch -}}
{{- $currentPage := .CurrentPage -}}

{{- $pages :=  (union $currentContext.Pages $currentContext.Sections) -}}
{{- $isCurrentPage := eq (string $currentURL) $currentContext.URL -}}
{{- $isSection := eq $currentContext.Kind "section" -}}
{{- $isSectionWithChildren := and (eq $currentContext.Kind "section") (gt (len $pages ) 0) }}

{{- $pageSlug := $currentContext.File -}}
{{- if $isSection -}}
{{- $pageSlug = cond (gt (len $currentContext.Dir) 0) $currentContext.Dir .Page.Title -}}
{{- end -}}

{{- $isActivePath := in (string $currentURL) (lower $pageSlug) -}}

{{- if $isActivePath -}}
    {{- if isset $currentContext.Params "repository" -}}
        {{- $currentScratch.Set "repo" ($currentContext.Param "repository") -}}
        {{- $currentScratch.Set "repoRoot" (path.Dir $currentContext.File.Path) -}}
    {{- end -}}
    
    {{- if $isSectionWithChildren -}}
        {{- range $pages.ByWeight -}}
            {{- partial "edit_on_github.html" (dict "ctx" . "CurrentURL" $currentURL "CurrentScratch" $currentScratch "CurrentPage" $currentPage) -}}    
        {{- end -}}
    {{- end -}}
    
    {{- if $isCurrentPage -}}
        {{- $currentFilePath := $currentPage.File.Path -}}
        {{- $repositoryUrl := ($currentScratch.Get "repo") -}}
        {{- $repositoryRootFilePath := ($currentScratch.Get "repoRoot") -}}
        
        {{- $relativePath := (strings.TrimPrefix $repositoryRootFilePath $currentFilePath) -}}
        
        {{- $canEdit :=cond (ne $repositoryUrl nil) true false -}}
        {{- $editLink := printf "%s/edit/master/Documentation%s" $repositoryUrl $relativePath }}
        {{- if $canEdit -}}
            <a class="edit-link" href="{{ $editLink }}"><i class="ti-pencil icon"></i></a>
        {{- end -}}
    {{- end -}}
{{- end -}}

