{{- $currentURL := .CurrentURL -}}
{{- $pages :=  (union .page.Pages .page.Sections) -}}
{{- $isCurrentPage := eq (string $currentURL) .page.URL -}}
{{- $isSection := eq .page.Kind "section" -}}
{{- $isSectionWithChildren := and (eq .page.Kind "section") (gt (len $pages ) 0) }}
{{- $hasContent := gt (len .page.Content) 0 }}

{{- $pageSlug := .page.File -}}
{{- if $isSection -}}
{{- $pageSlug = cond (gt (len .page.Dir) 0) .page.Dir .Page.Title -}}
{{- end -}}

{{- $isActivePath := in (string $currentURL) (lower $pageSlug) -}}
{{- if and $isSection (not $isSectionWithChildren) (not $hasContent) -}}
{{- else -}}
<li class="{{ .page.Kind }} {{ if $isActivePath }}active{{ end }}">
    {{- if $isSectionWithChildren -}}
    <i class="ti-angle-right expand"></i>
    {{- if $hasContent -}}
    <a href="{{ .page.RelPermalink }}" class="{{- if $isCurrentPage -}}current_page{{- end }}">{{ .page.Title }}</a>
    {{- else -}}
    <span>{{ .page.Title}}</span>
    {{- end -}}
    <ul>
        {{- range $pages.ByWeight -}}
        {{- partial "link_item.html" (dict "page" . "CurrentURL" $currentURL) -}}
        {{- end -}}
    </ul>
    {{- else -}}
    <a href="{{ .page.RelPermalink }}" class="{{- if $isCurrentPage -}}current_page{{- end }}">{{ .page.Title }}</a>
    {{- end -}}
</li>
{{- end -}}