{{- $currentURL := .CurrentURL -}}
<nav>
    <a href="{{ .root.Permalink }}">
        <h4 class="mb-4">{{ .root.Title }}</h4>
    </a>
    <ul class="list-styled">
        {{- range .root.Sections -}}
        {{- $isActivePath := in (string $currentURL) (lower .Dir) -}}
        <li class="root_section {{ if $isActivePath -}}active{{- end -}}">
            {{- partial "sections_link_list.html"  (dict "page" . "CurrentURL" $currentURL) -}}
            {{- if .Data.Pages -}}
            <ul class="pages">
                {{- range.Pages -}}
                {{- partial "section_pages_link_list.html" (dict "page" . "CurrentURL" $currentURL) -}}
                {{- end -}}
            </ul>
            {{- end -}}
        </li>
        {{- end -}}
        {{ .Pages}}
        {{- if .root.Pages -}}
        <ul class="pages">
            {{- range .root.Pages -}}
            {{- partial "section_pages_link_list.html" (dict "page" . "CurrentURL" $currentURL) -}}
            {{- end -}}
        </ul>
        {{- end -}}
    </ul>
</nav>
