<nav>
    <a href="{{ .Permalink }}">
        <h4 class="mb-4">{{ .Title }}</h4>
    </a>
    <ul class="list-styled">
        {{- range .Sections -}}
        <li class="{{ .Kind }}">
            {{- partial "sections_link_list.html" . -}}
        </li>
        {{- end -}}
        {{- if .Data.Pages -}}
        <li>
            <ul class="pages">
                {{- range.Pages -}}
                {{- partial "section_pages_link_list.html" . -}}
                {{- end -}}
            </ul>
        </li>
        {{- end -}}
    </ul>
</nav>
